{% extends 'template.html' %}

{% block body %}
<div class="container p-3">
    <h1>Buscar usuário</h1>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <!--<a class="navbar-brand" href="#">Buscar Usuário</a>-->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <form method="post" >
              {{ form_buscar.csrf_token }}
            <!--<input class="form-control me-2" type="search" placeholder="Digite o Nome do usuário" aria-label="Search">-->
              <!-- <input class="form-control me-2" type="search" placeholder="{{form_buscar.username.label}}" aria-label="Search">-->

              <div class="row">
                  <div class="col-md-4">
                    {{ form_buscar.username.label(class="form-control-label") }}
                  </div>
                  <div class="col-md-7">
                        {{ form_buscar.username(class="form-control me-2") }}
                  </div>
                  <div class="col-md-1">
                       <a class="w-100" href="{{ url_for('buscar_usuario')}}">
                                <button class="btn btn-outline-success" type="submit">Buscar</button>
                      </a>
                  </div>
             </div>
          </form>


        </div>
      </div>

    </nav>

    <!-- Search -->

    <h1>Usuários Encontrados</h1>

    {% for usuario in lista_usuarios %}
        <div class="container mt-5 d-flex justify-content-center">
        <!--<div class="container justify-content-center">-->

            <div class="card p-3">

                <div class="d-flex align-items-center">
                    <div class="image pe-2">
                    <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(usuario.foto_perfil)) }}" class="rounded" width="155" >
                    </div>

                    <div class="ml-3 w-100 col-6">
                        {% if usuario.useradmin %}
                            <span class="destaquefonte"> Administrador </span>
                        {% endif %}
                        <hr>
                        <h4 class="mb-0 mt-0"> {{ usuario.username }} </h4>
                        <span> {{ usuario.email }} </span>
                        <hr>
                        {% if usuario.ativo %}
                            <span > Ativo </span>
                        {% else %}
                            <span > Inativo </span>
                        {% endif %}
                    </div>
                    <div class="ml-3 w-100 col-3">
                        <!--<button type="submit" class="btn btn-primary">Editar</button>-->
                        <a href="{{ url_for('editar_usuario', id=usuario.id )}}"><button type="button" class="btn btn-primary">Editar</button></a>
                    </div>
                </div>
            </div>
         </div>
    {% endfor %}

        <hr>

</div>


{% endblock %}