.caixadeexibicao{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;

  background-color: #fff;
}

.caixadeexibicaopadding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.meubackground{
    background-color: lightblue;
}
